<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @usuario.name %>
</p>

<p>
  <b>Plastname:</b>
  <%= @usuario.plastname %>
</p>

<p>
  <b>Mlastname:</b>
  <%= @usuario.mlastname %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @usuario.birthdate %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
